# Web Service
WEB_PORT=8080

# RPC Service
RPC_HOST=localhost
RPC_PORT=8081
RPC_PASSWORD=password

# S3
S3_URL=https://s3.example.com/streams

# Mongo Database Settings
DB_HOST=
DB_PORT=27017
DB_USER=
DB_PASSWORD=
DB_AUTH=admin
DB_NAME=enchant

# Streaming
STREAM_FILE_NAME=fileSequence{n}.ts
STREAM_SEGMENT_TIME=10
VOD_CUTOFF_TIME=6